<!doctype html>
<html>
<head>
    <title>Scrapey Search Engine</title>
    <link href="/css/search.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
    <h1 class="title">Scrapey</h1>
</nav>
<form method="get">
    <label>
        Search:
        <input type="text" name="q">
    </label>
    <input type="submit" value="Search!">
</form>

</body>
</html>